#game-container{
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
    width: 400px;
    height: 300px;
    margin-right: 100px;
}

#letter-display{
    font-size: 96px;
    margin: 20px;
}

#answer-buttons{
    display: flex;
    justify-content: space-around;
    height: 40px;
}

.answer-btn{
    cursor: pointer;
    width: 85px;
}