.display-leaderboard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
    height: 350px;
    width: 550px;
    margin-left: 10px;
}

.display-leaderboard ul {
    list-style-type: decimal; /* Use numbers for list items */
    padding-left: 20px; /* Adjust as needed for alignment */
}
