{% extends "base.html" %}

{% block stylesheet %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gameContainer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/scoreContainer.css') }}">

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% endblock %}

{% block title %}Home{% endblock %}
{% block content%}
<div class="container">

    <div id="game-container">
        <div id="random_value">أ</div>
        <div id="answer-buttons">
            <button class="answer-btn", id="random_key">alif</button>
            <button class="answer-btn", id="incorrect_key_one">ba</button>
            <button class="answer-btn", id="incorrect_key_two">ta</button>
        </div>
    </div>
    <div class="display-container" id="score-container">
        <div class="title">Score:</div>
        <div class="display" id="score">0</div>
        <button class="executeButton" id="startButton">START</button>
    </div>
    <div class="display-container" id="timer-container">
        <div class="title">Timer:</div>
        <div class="display" id="timer">30</div>
        <button class="executeButton" id="timerFirstButton">0:30</button>
        <button class="executeButton" id="timerSecondButton">1:00</button>
    </div>

</div>

<script>
    function updateContent() {
        // Fetch new data from the server
        $.get('/get_random_data', function(data) {
            // Update the content
            $('#random_value').text(data.random_value);

            var answers = [data.random_key, data.incorrect_key_one, data.incorrect_key_two];
            
            for (let i = answers.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                // Swap array[i] and array[j]
                [answers[i], answers[j]] = [answers[j], answers[i]];
            }

            $('#random_key').text(answers[0]);
            $('#incorrect_key_one').text(answers[1]);
            $('#incorrect_key_two').text(answers[2]);

        });
    }

    // Bind the function to the click event of the three value buttons
    $('#random_key, #incorrect_key_one, #incorrect_key_two').on('click', function() {
        updateContent();
    });
</script>
{% endblock %}